*
!src/*
src/**/x64/
src/**/x86/
src/**/[Bb]in/
src/**/[Oo]bj/
!lib/*
!tests/*
tests/**/x64/
tests/**/x86/
tests/**/[Bb]in/
tests/**/[Oo]bj/
!samples/*
samples/**/x64/
samples/**/x86/
samples/**/[Bb]in/
samples/**/[Oo]bj/
!k8s/sample/*
src/profiler/build/*
