groups:
- name: general
  rules:

{% for service in services.split(';') %}
{% set replacedName = service.split('-')|join('_') %}
  - alert: {{env}}-{{replacedName}}-http-errors
    expr: count(count by (action, controller, traceIdentifier) (samplehttp{quantile="0.99",service="{{service}}",statusCode!="200"})) > 0
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "Http Request Error when calling {% raw %} {{ $labels.controller }}/{{ $labels.controller }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-healthcheck
    expr: count(samplehc{service="{{service}}"} == 0) > 0
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "{{service}} is not healthy on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-http-slow
    expr: max by(controller,action) (samplehttp{quantile="0.99",service="{{service}}"}) > 0.01
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "The endpoint {% raw %} {{ $labels.controller }}/{{ $labels.controller }} {% endraw %} in {{service}} on {{env}} is too slow"
      description: ""

  - alert: {{env}}-{{replacedName}}-masstransit-errors
    expr: count(count by (messageType) (samplemasstransit{quantile="0.99",service="{{service}}",success="False"})) > 0
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "Masstransit Error when processing {% raw %} {{ $labels.messageType }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-masstransit-slow
    expr: max by (messageType) (samplemasstransit{quantile="0.99",service="{{service}}"}) > 0.1
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "Masstransit Error when processing {% raw %} {{ $labels.messageType }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-entityframeworcore-errors
    expr: count(count by (commandText) (sampleef{quantile="0.99",service="{{service}}",success="False"})) > 0
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "EntityFrameworkCore Error when executing {% raw %} {{ $labels.commandText }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-entityframeworcore-slow
    expr: max by (commandText) (sampleef{quantile="0.99",service="{{service}}"}) > 0.01
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "EntityFrameworkCore Error when executing {% raw %} {{ $labels.commandText }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-activity-errors
    expr: count(count by (activityName) (samplecustomtracking{quantile="0.99",service="{{service}}",success="False"})) > 0
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "EntityFrameworkCore Error when executing {% raw %} {{ $labels.activityName }} {% endraw %} in {{service}} on {{env}}"
      description: ""

  - alert: {{env}}-{{replacedName}}-activity-slow
    expr: max by (activityName) (samplecustomtracking{quantile="0.99",service="{{service}}"}) > 0.01
    for: 20s
    labels:
      severity: critical
    annotations:
      summary: "Activity Error when executing {% raw %} {{ $labels.activityName }} {% endraw %} in {{service}} on {{env}}"
      description: ""

{% endfor %}

